body {
  padding-top: 50px;
  min-height: 500px;
}

#main {
  padding-top: 50px;
}

.navbar-text {
  padding-right: 20px;
}

/*#phone-number span {
  padding-top: 25px;
}
*/
/*.hidden {
  display: none;
}*/